@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800&display=swap');

:root {
    --color-01: #fff;
    --color-02: #050505;
    --color-03: #18181d;
    --color-04: #5773ff;
    --color-05: #919191;
    --color-06: #25252d;
    --color-07: #32323d;
    --color-08: #464748;
    --color-09: #202026;
    --color-010: #1d1d1d;
}

.light-theme {
    --color-01: #000;
    --color-02: #fff;
    --color-03: #deebee;
    --color-04: #cce8ee;
    --color-04-hover: #5c939f;
    --color-btn-hover: #5c939f;
    --color-05: #000;
    --color-06: #deebee;
    --color-07: #abd4dd;
    --color-08: #57818a;
    --color-09: #deebee;
    --color-010: #abd4dd;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    transition: all 0.6s ease;
    scroll-behavior: smooth;
}

html,
body {
    background: linear-gradient(var(--color-02), var(--color-03));

    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--color-01);
}

i {
    color: var(--color-01);
    cursor: pointer;
}

img {
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

/* ———————————–––––––––––––––(side bar)------------------------------ */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
}

.container .sidebar {
    height: 100vh;
    background: var(--color-03);
    padding: 20px 36px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* for mobile display */
    z-index: 100;
    transition: all 0.6s ease;
}

.container .sidebar .logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.container .sidebar .logo>i {
    font-size: 22px;
    transition: all 0.3s ease;
}

.container .sidebar .logo a {
    font-weight: bold;
    transition: all 0.3s ease;
}

.container .sidebar .logo a:hover,
.container .sidebar .menu ul li:hover a,
.container .sidebar .menu ul li:hover i {
    color: var(--color-04-hover);
}

.container .sidebar .menu h5 {
    color: var(--color-05);
    text-transform: uppercase;

    margin-bottom: 12px;
}

.container .sidebar .menu ul {
    list-style: none;
}

.container .sidebar .menu ul li {
    margin-bottom: 12px;

    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;
}

.container .sidebar .menu ul li a {
    font-size: 14px;
    font-weight: bold;

    transition: all 0.3s ease;
}

.container .sidebar .playing .top {
    background: var(--color-07);
    border-radius: 6px 6px 0 0;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 13px;
    color: var(--color-01);
}

.container .sidebar .playing .bottom {
    background: var(--color-06);
    border-radius: 0 0 6px 6px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    font-size: 12px;
}

.container .sidebar .playing .bottom i,
.container .sidebar .playing .bottom p {
    color: var(--color-05);
}

.container .sidebar .playing .top img {
    width: 36px;
    height: 36px;
}

/* ———————————–––––––––––––––(main)---------------------------------- */

.container main {
    padding: 20px 36px;
}

.container main header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container main header .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container main header .nav-links a {
    text-transform: uppercase;
    color: var(--color-05);

    transition: all 0.3s ease;
}

.container main header .nav-links a:hover {
    color: var(--color-04);
}

.container main header .search {
    display: flex;
    align-items: center;
    gap: 6px;

    background: var(--color-010);
    padding: 10px;

    border: 1px solid var(--color-08);
    border-radius: 8px;

    width: 70%;
}

.container main header .search input {
    width: 100%;
    background: transparent;

    outline: none;
    border: none;

    color: var(--color-01);
}

/* ———————————–––––––––––––––(trending)------------------------------ */

.container main .trending {
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--color-01);
}

.container main .trending .left .info {
    margin-top: 12px;
    padding: 26px;
}

.container main .trending .left .info h2 {
    font-size: 36px;
    margin-bottom: 8px;
}

.container main .trending .left .info h4,
.container main .trending .left .info h5 {
    display: inline;
}

.container main .trending .left .info h5 {
    margin-left: 12px;
    color: var(--color-05);
}

.container main .trending .left .info .buttons {
    margin-top: 30px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.container main .trending .left .info .buttons button {
    padding: 12px 16px;
    background: var(--color-04);

    border: none;
    border-radius: 14px;

    color: var(--color-01);
    font-weight: bold;

    transition: all 0.3s ease;
    cursor: pointer;
}

.container main .trending .left .info .buttons button:hover {
    background: var(--color-btn-hover);
}

.container main .trending .left .info .buttons i {
    color: var(--color-04);
    font-size: 18px;

    border: 1px solid var(--color-01);
    border-radius: 50%;
    padding: 8px;

    transition: all 0.3s ease;
}

.container main .trending .left .info .buttons i:hover {
    color: var(--color-btn-hover);
}

.container main .trending img {
    height: 200px;
    width: 300px;
}

/* ———————————–––––––––––––––(play list)----------------------------- */

.container main .playlist {
    margin-top: 40px;

    display: flex;
    gap: 20px;

    height: 350px;
}

.container main .playlist .genres {
    color: var(--color-01);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: var(--color-09);
    border-radius: 6px;
    padding: 20px;

    width: 40%;
    overflow: scroll;
}

::-webkit-scrollbar {
    /* display: none; */
}

.container main .playlist .genres .header,
.container main .playlist .music-list .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.container main .playlist .genres .header a,
.container main .playlist .music-list .header a {
    color: var(--color-05);
    font-size: 12px;
}

.container main .playlist .genres .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.container main .playlist .genres .items .item {
    padding: 22px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;

    cursor: pointer;
}

.container main .playlist .genres .items .item p {
    font-size: 14px;
    font-weight: bold;
}

.container main .playlist .genres .items .item:nth-child(1) {
    background: #476a8a;
}

.container main .playlist .genres .items .item:nth-child(2) {
    background: #a69984;
}

.container main .playlist .genres .items .item:nth-child(3) {
    background: #a24c34;
}

.container main .playlist .genres .items .item:nth-child(4) {
    background: #0d4045;
}

.container main .playlist .genres .items .item:nth-child(5) {
    background: #a67894;
}

.container main .playlist .genres .items .item:nth-child(6) {
    background: #5547a5;
}

.container main .playlist .genres .items .item:nth-child(7) {
    background: #476a8a;
}

.container main .playlist .genres .items .item:nth-child(8) {
    background: #a69984;
}

.container main .playlist .genres .items .item:nth-child(9) {
    background: #a24c34;
}

.container main .playlist .genres .items .item:nth-child(10) {
    background: #0d4045;
}

/* ———————————–––––––––––––––(music list)---------------------------- */

.container main .playlist .music-list {
    background: var(--color-09);
    padding: 20px;
    border-radius: 6px;

    color: var(--color-01);
    width: 65%;

    overflow: scroll;
}

.container main .playlist .music-list .items .item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

.container main .playlist .music-list .items .item:last-child {
    margin-bottom: 0;
}

.container main .playlist .music-list .items .item .info,
.container main .playlist .music-list .items .item .actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container main .playlist .music-list .items .item .info p {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-05);

    margin-top: 6px;
}

.container main .playlist .music-list .items .item .actions p {
    font-size: 13px;
    font-weight: bold;
}

.container main .playlist .music-list .items .item .actions .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-07);
    padding: 6px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.container main .playlist .music-list .items .item .actions .icon i {
    color: var(--color-04);
    font-size: 12px;
}

.container main .playlist .music-list .items .item .actions i {
    color: var(--color-05);
}

.container main .playlist .music-list .info img {
    width: 50px;
    height: 50px;
}

/* ———————————–––––––––––––––(right section)------------------------- */

.container .right-section {
    padding: 20px 32px;
}

.container .right-section .profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 18px;

    margin-bottom: 40px;
}

.container .right-section .profile .user {
    display: flex;
}

.container .right-section .profile .user .left {
    display: flex;
    align-items: center;

    background: var(--color-07);
    padding: 6px;
    border-radius: 6px 0 0 6px;
}

.container .right-section .profile .user img {
    width: 30px;
    height: 30px;
}

.container .right-section .profile .user .right {
    background: var(--color-06);
    border-radius: 0 6px 6px 0;

    padding: 13px;
    color: var(--color-01);
}

.container .right-section .profile i {
    transition: all 0.3s ease;
}

.container .right-section .profile i:hover {
    color: var(--color-04);
}

/* ———————————–––––––––––––––(music player)-------------------------- */

.container .right-section .music-player {
    color: var(--color-01);

    background: var(--color-09);
    border-radius: 6px;

    height: 88%;

    display: flex;
    flex-direction: column;
}

.container .right-section .music-player .top-section {
    padding: 20px;
    height: 86%;
}

.container .right-section .music-player .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.container .right-section .music-player .header i {
    transition: all 0.3s ease;
}

.container .right-section .music-player .header i:hover {
    color: var(--color-04);
}

.container .right-section .music-player .song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    text-align: center;
}

.container .right-section .music-player .song-info img {
    width: 280px;
    height: 220px;
}

.container .right-section .music-player .description h3 {
    font-size: 26px;
    font-weight: 500;

    margin-bottom: 8px;
}

.container .right-section .music-player .description h5 {
    font-size: 16px;

    margin-bottom: 4px;
}

.container .right-section .music-player .description p {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-05);
}

/* ———————————–––––––––––––––(progress)------------------------------ */

.container .right-section .music-player .song-info .progress {
    display: flex;
    align-items: center;

    margin: 10px 0;
}

.container .right-section .music-player .song-info .progress p {
    font-size: 11px;
}

.container .right-section .music-player .song-info .progress .active-line {
    width: 120px;
    height: 2px;

    background: var(--color-01);

    margin-left: 30px;

    position: relative;
}

.container .right-section .music-player .song-info .progress .deactive-line {
    width: 80px;
    height: 2px;

    background: var(--color-05);
    margin-right: 30px;
}

.container .right-section .music-player .player-actions {
    background: var(--color-04);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    border-radius: 6px;
    height: 26%;
}

.container .right-section .music-player .player-actions .buttons {
    display: flex;
    align-items: center;
    gap: 30px;

    margin-top: 24px;
}

.container .right-section .music-player .player-actions .buttons i {
    font-size: 20px;
}

.container .right-section .music-player .player-actions .buttons .play-button {
    background: var(--color-01);
    color: var(--color-04);

    padding: 10px;
    border-radius: 14px;
}

.container .right-section .music-player .player-actions .lyrics {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 12px;
}

/* ———————————–––––––––––––––---------------------------------------- */

.container main header .nav-links button,
.container .sidebar .logo button {
    display: none;
    align-items: center;
    justify-content: center;

    background: var(--color-010);
    border: 1px solid var(--color-08);
    border-radius: 6px;
    padding: 4px;

    font-size: 20px;
    cursor: pointer;
}

/* ———————————–––––––––––––––---------------------------------------- */

@media screen and (max-width: 1370px) {

    .container .sidebar .playing .bottom p {
        font-size: 10px;
    }

    .container main header .search {
        width: 50%;
    }

    .container main .trending img {
        width: 200px;
        height: 180px;
    }

    /* ———————————–––––––––––––––------------------------------------ */

    .container main .playlist .genres {
        width: 30%;
    }

    .container main .playlist .genres .items {
        grid-template-columns: 1fr;
    }

    .container main .playlist .genres .items .item {
        padding: 12px;
    }

    .container main .playlist .genres .items .item p {
        font-size: 12px;
    }

    .container main .playlist .music-list .items .item .info>p {
        display: none;
    }
}

/* ———————————–––––––––––––––---------------------------------------- */

@media screen and (max-width: 1200px) {

    .container main header .search {
        width: 40%;
    }

    .container main .trending .left .info h2 {
        font-size: 24px;
    }

    .container main .trending .left .info h5 {
        display: block;
        margin-left: 0;

        font-size: 12px;
    }

    .container main .trending .left .info .buttons button {
        padding: 10px 12px;
        font-size: 12px;
    }

    .container main .trending .left .info .buttons i {
        font-size: 14px;
    }

    .container main .playlist .genres {
        display: none;
    }

    .container main .playlist .music-list {
        width: 100%;
    }

    /* ———————————–––––––––––––––------------------------------------ */

    .container .right-section .music-player {
        height: 88%;
    }

    .container .right-section .music-player .song-info img {
        width: 220px;
        height: 220px;
    }

    .container .right-section .music-player .song-info .description h3 {
        font-size: 22px;
    }

    .container .right-section .music-player .song-info .progress {
        margin: 0;
    }

    .container .right-section .music-player .song-info .progress .active-line {
        width: 80px;
    }

    .container .right-section .music-player .song-info .progress .deactive-line {
        width: 40px;
    }

    .container .right-section .music-player .player-actions .buttons {
        margin-top: 28px;
        gap: 18px;
    }

    .container .right-section .music-player .player-actions .buttons .play-button {
        padding: 8px;
        border-radius: 10px;
    }

}

/* ———————————–––––––––––––––---------------------------------------- */

@media screen and (max-width: 992px) {

    .container {
        grid-template-columns: 3fr 2fr;
    }

    .container .sidebar {
        position: absolute;
        left: -100%;

        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    }

    /* .container .sidebar .logo {
        flex-direction: column;
    } */

    .container .sidebar .logo>i {
        display: none;
    }

    .container .sidebar .logo a {
        font-size: 14px;
    }

    .container .sidebar .logo {
        gap: 12px;
    }

    .container .sidebar .playing {
        display: none;
    }

    /* ———————————–––––––––––––––------------------------------------ */

    .container main header .nav-links a {
        font-size: 13px;
    }

    .container main header .search input {
        display: none;
    }

    .container main .playlist {
        margin-top: 40px;
    }

    .container .right-section .music-player {
        height: 87%;
    }

    .container .right-section .music-player .song-info img {
        width: 180px;
        height: 180px;
    }

    .container .right-section .music-player .player-actions .buttons {
        margin-top: 38px;
    }

    .container .right-section .music-player .player-actions .buttons i {
        font-size: 18px;
    }

    .container main header .nav-links button,
    .container .sidebar .logo button {
        display: flex;
    }
}

/* ———————————–––––––––––––––---------------------------------------- */

@media screen and (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
    }

    .container .right-section {
        padding: 20px 26px 100px;
    }

    .container .right-section .profile {
        justify-content: center;
        margin-bottom: 20px;
    }

    .container .right-section .music-player {
        height: 100%;
    }

    .container .right-section .music-player .song-info img {
        width: 300px;
        height: 190px;
    }

    .container .sidebar {
        position: fixed;

        padding: 18px 26px;
    }

    html,
    body {
        height: fit-content;
    }

    .container .right-section {
        margin-top: 25px;
    }

    /* ———————————–––––––––––––––---------------------------------------- */

    .container main .trending .left .info {
        padding: 6px;
    }

    .container main .trending .left .info .buttons button {
        padding: 12px 16px;
    }

    .container main .trending img {
        width: 140px;
        height: 180px;

        object-position: right;
    }

    .container .right-section .music-player .song-info img {
        width: 260px;
        height: 220px;

        object-position: right;
    }

    /* ———————————–––––––––––––––---------------------------------------- */

    .container main header {
        width: 100%;
        margin-bottom: 50px;
    }

    .container main {
        padding: 20px 26px;
    }

    .container .right-section .profile {
        justify-content: center;
    }

    .container main header .search {
        border-radius: 6px;
        padding: 4px;
        font-size: 20px;

        width: auto;

        gap: 0;
    }
}

/* ———————————–––––––––––––––---------------------------------------- */